body{
    background-image: url(https://as2.ftcdn.net/v2/jpg/01/04/19/05/1000_F_104190508_Y0hoao6mWo94TrvX9P9dENGgibNCNRyl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#Calculadora{
    height: 620px;
    width: 550px;
    border: 1 px solid rgb(48, 1, 58);
    align-items: center;
    margin-left: 350px;
    margin-top: 50px;
   
}

#Calculadora form{
    height: 100%;
    width: 100%;
    background-color: rgb(48, 45, 35);
    border-radius: 20px;
}

#Calculadora input[type=textfield]{
    width: 100%;
    height: 25%;
    cursor: default;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(187, 184, 150);
    color: rgb(8, 2, 36);
    padding: 25px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
    border-radius: 10px;

}
#Calculadora input[type=button], input[type=reset] {
    width: 19%;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: rgb(10, 10, 10);
    padding: 15px;
    margin: 3px;
    border: 10px;
    border-radius: 100%;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 10px;



}

.titulo{
    text-align: center;
}
